<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuite name="Unit tests">
        <directory>tests/</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">src/Config/</directory>
                <file>src/Http/ThrottleMiddleware.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./clover.xml"/>
    </logging>
</phpunit>